header{
    text-align: center;
}

nav{
    display: inline-block;

}

li{
    display: inline-block;
    margin-right: 25px;
}
table {
    width: 28%;

    margin-left: 150px;
  }
.reference{
   
    margin-top: 120px;
    margin-bottom: 40px;

}
footer{
  
    padding: 15px;
    
}
